:root{--header:#0F337C;
--footer:#00143D;
--textColor:#ffffff;
--btnPrimary:#006FFF;
--darkText:#000000;
--lightBlue1:#82B1F4;
--lightBlue2:#E9F4FF;
--lightBlue3:#5485CC;}

body{margin:0px;
    padding:0px;
    overflow-x:hidden;
}

p{color:var(--darkText);
font-family: "Lexend", sans-serif;
font-optical-sizing: auto;
font-style: normal;}

h1, h2, h3, h4, h5, h6{font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;}

input, textarea, label{width:100%;
border-radius:10px;}

textarea{height:200px;
resize:none;}
/* Elements */

.primaryBtn{width:250px;
height:60px;
background-color:var(--btnPrimary);
color:#ffffff;
border:1px solid #ffffff;
transition: 1s all ease;
font-size:30px;}

.primaryBtn:hover{border:1px solid #ffffff;}

.darkText{color:var(--darkText);}

.lightText{color:var(--textColor);}

.card{margin:50px auto 50px auto;}

.secondaryHeader{font-size:40px;
font-family: "Merriweather", serif;
font-weight: 400;
font-style: normal;}

/* End of Elements */

/*------------------------------------------ Navbar ------------------------------------------ */
nav, .navbar{width:100vw;
background-color:var(--header);
position:fixed;
z-index:100;}

.navContainer{width:100%;
height:80px;
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;}

/* Genesis part of Logo */
.logoGenesis{font-weight: 500;
font-size:100%;}
/* Life & Health part of Logo */
.logoLife{font-weight: 400;
font-size:70%;}

#navbarItems{padding:30px;}

.navbar-nav{margin:auto;
margin-right:0px;}

/* Nav Links */
.nav-link{color:#ffffff;
text-decoration: none;
transition: 1s all ease;}
/* Nav Links */
.nav-link:hover{color:#ffffff;
text-decoration: underline;
text-shadow: 0px 0px 2px #ffffff;}
/*------------------------------------------ End of Navbar ------------------------------------------ */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Index.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*------------------------------------------ Hero Section ------------------------------------------ */

.heroSection{width:100vw;
height:800px;
background-image:url("../images/GenesisLHheroImg.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position-x:center;
display:flex;}

.gradientCover{width:100vw;
height:800px;
position:absolute;
background: rgb(80, 73, 66, 0.71);
background: linear-gradient(90deg, rgba(80, 73, 66, 0.71) 26%, rgba(255,255,255,0) 55%);}

.heroDescriptor{width:40%;
height:500px;
margin:auto;
margin-left:50px;
margin-bottom:80px;
z-index:1;
}

.heroDescriptor > h1{font-size:80px;}

.heroDescriptor > p{font-size:20px;}

/*------------------------------------------ End of Hero Section ------------------------------------------ */

/*------------------------------------------ Plans Section ------------------------------------------ */

.planSection{display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding:30px;
background-image:url("../images/whiteBG.png");
background-size:cover;}

.plan{max-width:30%;
min-width: 200px;
height:550px;
background-color:#ffffff;
border-radius:30px;
border:2px solid #000000;
transition:1s ease all;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;}

.plan > p{text-align: center;}

.plan:hover{box-shadow: 0px 0px 20px #c1c1c1;
cursor:pointer;}

.planImg{width:100%;
height:100px;
margin:auto;}

.planHeader{width:100%;
height:auto;
text-align:center;
margin:auto;
font-size:35px;}

.planDescription{width:100%;
text-align:center;
height:200px;
margin:auto;}

/*------------------------------------------ End of Plans Section ------------------------------------------ */

/*------------------------------------------ Contact Section ------------------------------------------ */

.contactSection{width:100vw;
height:800px;
background-color:var(--lightBlue1);
display:flex;
flex-direction:row;}

.contactImg{width:45%;
height:100%;
background-image:url("../images/GenesisContactImg.jpg");
background-size:cover;
background-position:center;}

.inputContainer{width:55%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.inputContainer > h1{color:var(--textColor);}

.inputContainer > form{width:100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

/*.label{font-size:30px;
color:var(--textColor);
margin:auto;
margin-left:110px;}

.name{width:60%;}

.email{width:70%;}

.message{width:80%;
height:200px;
resize:none;
border-radius:10px;}*/

.contactInput{height:40px;
margin:auto;
margin-left:100px;
border-radius:30px;
border:1px solid #000000;
padding:10px;}



/*------------------------------------------ End of Contact Section ------------------------------------------ */

/*------------------------------------------ Providers Section ------------------------------------------ */

.providersContainer{width:100vw;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding-top:50px;
padding-bottom:100px;}

.providersContainer > h1{font-size:60px;
text-align:center;
margin-bottom:50px;}

.sliderContainer{overflow:hidden;
width:100vw;
white-space:nowrap;
display:inherit;
position:relative;}

.sliderContainer:before{width:250px;
height:100%;
position:absolute;
top:0px;
left:0px;
background: rgb(233,244,255);
background: linear-gradient(90deg, rgba(233,244,255,1) 0%, rgba(255,255,255,0) 100%);
content:"";
z-index: 1;}

.sliderContainer::after{width:250px;
height:100%;
position:absolute;
top:0px;
right:0px;
background: rgb(233,244,255);
background: linear-gradient(270deg, rgba(233,244,255,1) 0%, rgba(255,255,255,0) 100%);
content:"";
z-index: 1;}

.imgSlider{width:auto;
min-width:200%;
padding:30px 0px;
background-color:var(--lightBlue2);
animation: 15s slide infinite linear;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;}

.imgSlider > img{height:100px;
width:auto;
margin:auto;}

/*------------------------------------------ End of Providers Section ------------------------------------------ */

/*------------------------------------------ Questions Section ------------------------------------------ */

.questionsContainer{width:100vw;
height:auto;
padding:100px 30px;
background-color:var(--lightBlue3);
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;}

.questionsText{width:40%;
min-width:300px;
margin:auto;
margin-top:20px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;}

.questionsText > h1{margin-bottom:30px;
text-align: center;}

.questionsText > p{font-size:20px;
text-align:left;}

.accordionContainer{width:50%;
margin:auto;
min-width:400px;
max-width:800px;}

.accordionTitle{width:100%;
background-color:var(--footer);
color:var(--textColor);
height:80px;
border-radius: 15px 15px 0px 0px;
display:none;}

.accordionTitle > h1{font-size:1em;}

/*------------------------------------------ End of Questions Section ------------------------------------------ */

/*------------------------------------------ Footer ------------------------------------------ */

.phoneLink{display:none;}

footer{width:100vw;
background-color:var(--footer);
padding:40px 0px;}

.footerSection{display:flex;
flex-direction:row;
align-items:center;
justify-content:center;}

#footerLogo{width:20%;
    height:20vh;
    background-image:url("../images/LogoText.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin:25px auto;}

.footerSection > div{width:25%;
margin:auto;
text-align:center;}

.footerSection > div > h1{font-size:50px;
margin:auto;}

.footerSection > div > h3{font-size:30px;
margin:auto;}

.footerSection > div > a{font-size:30px;
margin:auto;}

.footerServing{text-align:center;
color:var(--textColor);
text-align:center;}

.footerContact{color:var(--textColor);
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;}

.footerLink{color:var(--textColor);}

.footerHeartbeat{width:100vw;
height:80px;
background-image:url("../images/heartbeat.png");
background-size:150px;
background-repeat:repeat-x;
background-position:center;}

/*------------------------------------------ End of Footer ------------------------------------------ */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Keyframes @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@-webkit-keyframes slide {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}

@-moz-keyframes slide {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}

@-o-keyframes slide {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}

@keyframes slide{
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Keyframes @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Index.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */







/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Contact.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#contactHeroSection{background-image:none;
background: rgb(15,70,147);
background: linear-gradient(135deg, rgba(15,70,147,1) 0%, rgba(1,26,63,1) 13%, rgba(6,31,66,1) 58%, rgba(19,50,94,1) 100%);}

.contactArrow{height:200px;
width:auto;
background-image:url("../images/arrow.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;}

.contactHeroText{position:relative;}

#conHeroText1{top:75px;}

#conHeroText2{top:-75px;}

.contactFormContainer{width:60%;
height:100%;
margin:auto;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;}

.contactPageForm{width:90%;
min-width:500px;
height:70%;
margin:auto;
background-color:var(--lightBlue2);
margin-bottom:80px;
border-radius:50px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;}

.contactPageForm > label{color:var(--darkText);}

#contactFaq{background-color:var(--lightBlue2);}

#contactFaq > *{color:var(--darkText);}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Contact.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ About.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#aboutHeroSection{background-image:none;}

#aboutHeroSection > .heroDescriptor{position:absolute;
margin-top:200px;
padding-left:100px;
z-index:2;}

.sectionCircle{width:700px;
height:700px;
min-width:700px;
min-height:700px;
border-radius:50%;
border:2px solid #c1c1c1;
position:absolute;
background-color:#ffffff;}

.businessMan{height:600px;
width:auto;
z-index:3;
position:absolute;
top:200px;
right:100px;}

#circle1{right:-225px;
top:0px;
box-shadow:0px 0px 100px #90ff7e}

#circle2{top:225px;
right:-100px;
z-index:1;
box-shadow:0px 0px 100px #bcbcbc}

#circle3{top:375px;
right:100px;
box-shadow:0px 0px 100px #38bffe}

.aboutHeroImgs{width:100vw;
overflow:hidden;
position:relative;}

#aboutContactSection > .inputContainer{background-color:var(--lightBlue1);}

.descriptionSection{width:100vw;
height:800px;
background-color:var(--lightBlue2);
display:flex;
flex-direction:row-reverse;}

.descriptionTextContainer{width:100vw;
height:400px;
background-color:var(--lightBlue2);
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
margin:auto;}

.descriptionTextContainer > p{width:80%;
font-size:20px;}

.descriptionImg{width:50%;
height:400px;
margin:auto;
margin-left:50px;
display:flex;
background-image:url("../images/GenesisAboutSkyscraperImg.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position:center;
border-radius:30px;
box-shadow:0px 10px 10px #c1c1c1;}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of About.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Services.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#servicesHeroSection{background-image:url("../images/GenesisServiceImg.jpg");
background-size:cover;
background-position:center;
background-position-y:top;}

#servicesHeroSection > .heroDescriptor{width:50%;
margin:auto;
padding:0px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;}

.servicesSection{background-color:var(--lightBlue3);
height:auto;
padding:100px 50px;}

#servicesContactSection{flex-direction:row-reverse;}

#servicesPlanSection{background-image:none;
background-color:var(--lightBlue3);}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Services.html @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media Queries !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
